 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        body {
            background-color: #0a69ed;
        }
        .testimonial {
            background-color: #ffffff;
            position: absolute;
            width: 80vw;
            max-width: 41em;
            min-height: 25em;
            border-radius: 0.6em;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
            display: flex;
        }
         /* .testimonial {
            background:{{ section.settings.testimonial_slider_section_background_color }};
            padding-top:{{ section.settings.testimonial_slider_section_padding_top }}px;
            padding-bottom:{{ section.settings.testimonial_slider_section_padding_bottom }}px;
            padding-right:{{ section.settings.testimonial_slider_section_padding_right }}px;
            padding-left:{{ section.settings.testimonial_slider_section_padding_left }}px;
        } */
        .testimonial .heading{
            padding-top: {{ section.settings.testimonial_slider_main_heading_padding_top }}px;
            padding-bottom: {{ section.settings.testimonial_slider_main_heading_padding_bottom }}px;
            color:{{ section.settings.testimonial_slider_main_heading_color }};
            text-align: center;
            font-size:  {{ section.settings.testimonial_slider_main_heading_font_size }}px;
        }
       .testimonial-container {
            width: 85%;
            height: 100%;
            position: relative;
            margin: auto;
            padding: 1.8em 1.2em;
        }
        .small-container {
            max-width: 1080px;
            padding-top:{{ section.settings.testimonial_slider_container_padding_top }}px;
            padding-bottom:{{ section.settings.testimonial_slider_container_padding_bottom }}px;
            padding-right:{{ section.settings.testimonial_slider_container_padding_right }}px;
            padding-left:{{ section.settings.testimonial_slider_container_padding_left }}px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 30px;
        }

        /* /* Responsive Grid Container */
        .testimonial-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
            padding: 30px;
        }

        /* Slider Styles */
        .slider {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        .slider-container {
            display: flex;
            transition: transform 0.5s;
        }

        /* Dot Styles */
        .slider-dots {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .dot {
            width: 10px;
            height: 10px;
            background-color: #ccc;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }

        .active {
            background-color: #ff523b;
        }
       */
        .col-3-box {
            text-align: center;
            padding-top: {{ section.settings.testimonial_slider_box_padding_top }}px;
            padding-bottom: {{ section.settings.testimonial_slider_box_padding_bottom }}px;
            padding-right:{{ section.settings.testimonial_slider_box_padding_right }}px;
            padding-left:{{ section.settings.testimonial_slider_box_padding_left }}px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.5s;
        }
        .testimonial .col-3-box:hover {
            transform: translateY(-10px);
        }
        .testimonial .col-3-box img {
            width: 50px;
            margin-top: {{ section.settings.testimonial_slider_margin_top }}px;
            margin-bottom: {{ section.settings.testimonial_slider_margin_bottom }}px;
            margin-right: {{ section.settings.testimonial_slider_margin_right }}px;
            margin-left: {{ section.settings.testimonial_slider_margin_left }}px;
            border-radius: 50%;
        }
        .fa.fa-quote-left {
            font-size: 34px;
            color: #ff523b;
        }
        .col-3 p {
            margin-top: {{ section.settings.testimonial_slider_text_margin_top }}px;
            margin-bottom: {{ section.settings.testimonial_slider_text_margin_bottom }}px;
            margin-right: {{ section.settings.testimonial_slider_text_margin_right }}px;
            margin-left: {{ section.settings.testimonial_slider_text_margin_left }}px;
            font-size: 12px;
            color: #777;
        }
       .rating .fa{
          color: {{ section.settings.testimonial_slider_icon_color }};
        }
        .testimonial .col-3-box h3 {
            font-size:  {{ section.testimonial_heading_slider_font_size }}px;
            font-weight: 600;
            color: {{ section.settings.testimonial_slider_heading_color }};
        }
       .testimonial button {
            font-size: 1.8em;
            height: 2.2em;
            width: 2.2em;
            background-color: #ffffff;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            border: none;
            color: #0a69ed;
            box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
            cursor: pointer;
            border-radius: 50%;
        }
        button#next {
            right: -1.1em;
        }
        button#prev {
            left: -1.1em;
        }
      .testimonial-container p {
        color: #8c8c90;
        text-align: center;
        font-size: 0.9em;
        line-height: 2em;
        letter-spacing: 0.05em;
        }
        .testimonial-container img {
        display: block;
        margin: 1.8em auto 1.25em auto;
        border-radius: 50%;
        width: 4.4em;
        }
        .testimonial-container h3 {
        color: #2d3d67;
        font-size: 1em;
        text-align: center;
        }
        .testimonial-container h6 {
        color: #bcc4da;
        font-size: 0.9em;
        letter-spacing: 0.03em;
        font-weight: 400;
        text-align: center;
        } 
        @media screen and (max-width: 650px) {
        .testimonial {
            font-size: 14px;
        }
        }
    </style

    <div class="testimonial">
        <h1 class="heading">{{ section.settings.testimonial_slider_main_heading }}</h1>
            <div class="testimonial-container" id="testimonial-container">
                <div class="small-container">
                    {% for block in section.blocks %}
                      <div class="col-3-box">
                        <i class="fa fa-quote-left"></i>
                        <p>{{ block.settings.testimonial_slider_text }}</p>
                        <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <img src="{{ block.settings.testimonial_slider_image | img_url: 'master' }}">
                        <h3>{{ block.settings.testimonial_slider_name }}</h3>
                      </div>
                    {% endfor %}
                  </div>
              </div>
            <button id="prev">&lt;</button>
            <button id="next">&gt;</button>
        </div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
 <script>
   const testimonials = [
            {
                testimonial: "Testimonial 1",
                image: "image-1.jpg",
                name: "John Doe",
                job: "CEO"
            },
            {
                testimonial: "Testimonial 2",
                image: "image-2.jpg",
                name: "Jane Smith",
                job: "Designer"
            },
            // Add more testimonials as needed
        ];

   let i = 0;
    //Total Slides
    let j = testimonials.length;

    let testimonialContainer = document.getElementById("testimonial-container");
    let nextBtn = document.getElementById("next");
    let prevBtn = document.getElementById("prev");

    nextBtn.addEventListener("click", () => {
    i = (j + i + 1) % j;
    displayTestimonial();
    });
    prevBtn.addEventListener("click", () => {
    i = (j + i - 1) % j;
    displayTestimonial();
    });

    let displayTestimonial = () => {
    testimonialContainer.innerHTML = `
        <p>${testimonials[i].testimonial}</p>
        <img src=${testimonials[i].image}>
        <h3>${testimonials[i].name}</h3>
        <h6>${testimonials[i].job}</h6>
    `;
    };
    window.onload = displayTestimonial;
 </script>
 {% schema %}
  {
    "name": "Testimonial Slider 2",
    "settings": [
    {
    "type": "color",
    "id": "testimonial_slider_section_background_color",
    "label": "Background Color",
    "default": "#fff"
  },
  {
    "type": "range",
    "id": "testimonial_slider_section_padding_top",
    "label": "Section Padding Top",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 50,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_section_padding_bottom",
    "label": "Section Padding Bottom",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 5,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_section_padding_right",
    "label": "Section Padding Right",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 5,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_section_padding_left",
    "label": "Section Padding Left",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 5,
    "step": 1
  },
   {
    "type": "textarea",
    "id": "testimonial_slider_main_heading",
    "label": "Main Heading",
    "default":"Testimonial Slider"
  },
  {
    "type": "color",
    "id": "testimonial_slider_main_heading_color",
    "label": "Heading Color",
    "default": "#000"
  },
  {
    "type": "range",
    "id": "testimonial_slider_main_heading_padding_top",
    "label": "Heading Padding Top",
    "unit": "px",
    "min": 0,
    "max": 50,
    "default": 15,
    "step": 1
  },
  {
  "type": "range",
  "id": "testimonial_slider_main_heading_padding_bottom",
  "label": "Heading Padding Bottom",
  "unit": "px",
  "min": 0,
  "max": 50,
  "default": 15,
  "step": 1
  },
  {
  "type": "range",
  "id": "testimonial_slider_main_heading_font_size",
  "label": "Heading Font Size",
  "unit":"px",
  "min": 20,
  "max": 60,
  "default": 30,
  "step": 1
  },  
  {
    "type": "range",
    "id": "testimonial_slider_container_padding_top",
    "label": "Container Padding Top",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 0,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_container_padding_bottom",
    "label": "Container Padding Bottom",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 0,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_container_padding_right",
    "label": "Container Padding Right",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 25,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_container_padding_left",
    "label": "Container Padding Left",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 25,
    "step": 1
  },
   {
    "type": "range",
    "id": "testimonial_slider_box_padding_top",
    "label": "Box Padding Top",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 40,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_box_padding_bottom",
    "label": "Box Padding Bottom",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 40,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_box_padding_right",
    "label": "Box Padding Right",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 20,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_box_padding_left",
    "label": "Box Padding Left",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 20,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_text_margin_top",
    "label": "Text Margin Top",
    "unit": "px",
    "min": 0,
    "max": 30,
    "default": 12,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_text_margin_bottom",
    "label": "Text Margin Bottom",
    "unit": "px",
    "min": 0,
    "max": 30,
    "default": 12,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_text_margin_left",
    "label": "Text Margin Left",
    "unit": "px",
    "min": 0,
    "max": 30,
    "default": 0,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_text_margin_right",
    "label": "Text Margin Right",
    "unit": "px",
    "min": 0,
    "max": 30,
    "default": 0,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_margin_top",
    "label": "Image Margin Top",
    "unit": "px",
    "min": 0,
    "max": 20,
    "default": 20,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_margin_bottom",
    "label": "Image Margin Bottom",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 0,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_margin_left",
    "label": "Image Margin Left",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 0,
    "step": 1
  },
  {
    "type": "range",
    "id": "testimonial_slider_margin_right",
    "label": "Image Margin Right",
    "unit": "px",
    "min": 0,
    "max": 100,
    "default": 0,
    "step": 1
  },
  {
    "type": "color",
    "id": "testimonial_slider_icon_color",
    "label": "Icon Color",
    "default": "#ff523b"
  },
  {
    "type": "color",
    "id": "testimonial_slider_heading_color",
    "label": "Name Color",
    "default": "#555"
  },
  {
    "type": "range",
    "id": "testimonial_slider_heading_font_size",
    "label": "Name Font Size",
    "unit":"px",
    "min": 0,
    "max": 60,
    "default": 16,
    "step": 1
  }
    // Add more settings as needed
  ],
  "blocks": [
    {
      "type": "testimonial_slider",
      "name": "Testimonial Slider",
      "settings": [
        {
          "type": "textarea",
          "id": "testimonial_slider_text",
          "label": "Testimonial Text",
          "default":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam blanditiis, voluptatem tempora eum nemo natus laboriosam debitis doloremque explicabo ullam."
        },
        {
          "type": "image_picker",
          "id": "testimonial_slider_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "testimonial_slider_name",
          "label": "Name",
          "default": "Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider 2",
      "category": "Custom"
    }
   ]
  }
{% endschema %}
