<style>
  .nx-wrap{
  	min-height: 500px;
    display: flex;

  }
  .nx-left-col,
  .nx-right-col {
    width: 50%;
    height: auto;
    padding: 10px;
    background-size: cover;
    background-position: center center;
  }
  
  .nx-left-col{
    background: url( {{ section.settings.nx_wrap_leftimage | img_url: 'large' }} );
  }
  
  .nx-right-col{
    background: url( {{ section.settings.nx_wrap_rightimage | img_url: 'large' }} );
  }
  
  .nx-right-col h2{
  	font-size: 42px;
    
  }
  
  .nx-right-col p{
    font-size: {{section.settings.nx_wrap_descriptionsize }}px;
    color:{{ section.settings.nx_wrap_descriptioncolor }};
    
  }
  
  .nx-btn-section{
  	display:flex;
    max-width: 1140px;
  }
  
  .nx-btn-section .nx-left-col, .nx-btn-section .nx-right-col{
  	width:50%;
    background:none;
  }
  
  .nx-btn-wrap{
  	width: 100%;
    padding: 10px;
  }
  
  
  
  .nx-showmobile{
  	display:none!important;
  }
  
  @media screen and (max-width:1024px){
    .nx-wrap{
      flex-wrap: wrap;
      flex-direction: column-reverse;
      background: {{ section.settings.nx_mobilebgcolor }};
      flex-flow: column-reverse;
      height: 100%;
    }
     .nx-left-col{
    	height: 500px;
      	width:100%;
    }
    
    .nx-wrap .nx-left-col{
    	background-size: contain!important;
    background-repeat: no-repeat;
    }
    
    .nx-right-col{
    	width:100%;
      background: transparent;
    }
    
    .nx-right-col h2{
  	color: #000!important;
    
  }
  
  .nx-right-col p{
    font-size: calc({{section.settings.nx_wrap_descriptionsize }}px - 20px);
    color: #000;
    
  }
    
    .nx-wrap .nx-btn-section{
    	display:none;
    }
    
    .nx-btn-section .nx-left-col, .nx-btn-section .nx-right-col{
    	height:100%;
    }
    .nx-showmobile{
    	display:flex!important;
      background: {{ section.settings.nx_mobilebgcolor }};
      padding: 20px 0 40px 0;
    }
    .nx-showmobile .nx-btn-buy-white{
      	fill: #000;
    	background-color: #000;
      	color: #fff;
    }
    
    .nx-showmobile .nx-btn-watch{
      	fill: #fff;
    	background-color: #fff;
      	color: #000;
    }
  }
  
  @media screen and (max-width:767px){
    .nx-showmobile{
    	flex-flow: column;
    }
    
    .nx-showmobile .nx-left-col, .nx-showmobile .nx-right-col{
    	width: 100%!important;
      padding: 0 10px;
    }
    
    .nx-left-col{
    	height: 300px;
      	width:100%;
    }
    
  }
  
</style>

<div class="nx-wrap">
  <div class="nx-left-col">
  	
  </div>
   <div class="nx-right-col" style="display: flex;
    align-items: stretch;
    flex-direction: column;">
     <div style="margin: auto;">
     <h2 style="color: {{ section.settings.nx_wrap_headercolor }}; font-size:{{ section.settings.nx_wrap_headersize }}px;">
       {{ section.settings.nx_wrap_headertext }}</h2>
     </div>
     <div style="margin: auto;">
       {{ section.settings.nx_wrap_description }}
     </div>

     
     
     <div class="nx-btn-section">
      {% if section.settings.nx_watchvideo == true and section.settings.nx_buybutton == true %}
       <div class="nx-left-col">
         <div class="nx-btn-wrap">
           <form class="nx-product-form js-product-form2" action="/cart/add" data-productid="{{ section.settings.nx_product-handle.id }}" method="post"> 
  				<input type="hidden" name="id" data-productid="PRODUCT_ID" class="nx-product-select" value="{{ section.settings.nx_product-handle.variants[0].id }}">
              	<input type="hidden" name="return_to" value="/checkout/" />
		  		<input type="submit" value="BUY NOW {{ section.settings.nx_product-handle.variants[0].price | money }}" class="nx-btn-buy-white" style="color:{{ section.settings.nx_btnfontcolor }}; background: {{ section.settings.nx_btnbgcolor }}; border-color: {{ section.settings.nx_btnbordercolor }}">
		   </form>
         </div>
       </div>
       <div class="nx-right-col" >
         <div class="nx-btn-wrap">
		     <a href="{{ section.settings.nx_linkvideo }}" class="nx-btn-watch" style="color:{{ section.settings.nx_btnwatchfontcolor }}; background: {{ section.settings.nx_btnwatchbgcolor }}; border-color: {{ section.settings.nx_btnwatchbordercolor }}"> WATCH VIDEO </a>
         </div>  
       </div>
      {% endif %}
      {% if section.settings.nx_watchvideo == false and section.settings.nx_buybutton == true %} 
      	<div class="nx-btn-wrap">
           <form class="nx-product-form js-product-form3" action="/cart/add" data-productid="{{ section.settings.nx_product-handle.id }}" method="post"> 
  				<input type="hidden" name="id" data-productid="PRODUCT_ID" class="nx-product-select" value="{{ section.settings.nx_product-handle.variants[0].id }}">
              	<input type="hidden" name="return_to" value="/checkout/" />
		  		<input type="submit" value="BUY NOW {{ section.settings.nx_product-handle.variants[0].price | money }}" class="nx-btn-buy-white" style="color:{{ section.settings.nx_btnfontcolor }}; background: {{ section.settings.nx_btnbgcolor }}; border-color: {{ section.settings.nx_btnbordercolor }}">
		   </form>
         </div>
       {% endif %}
       {% if section.settings.nx_watchvideo == true and section.settings.nx_buybutton == false %} 
      	<div class="nx-btn-wrap">
           <a href="{{ section.settings.nx_linkvideo }}" class="nx-btn-watch" style="color:{{ section.settings.nx_btnwatchfontcolor }}; background: {{ section.settings.nx_btnwatchbgcolor }}; border-color: {{ section.settings.nx_btnwatchbordercolor }}"> WATCH VIDEO </a>
         </div>
       {% endif %}
     </div>
     
     
     
     
  </div>
</div>
<div class="nx-btn-section showmobile" style="margin: auto 0;">
  {% if section.settings.nx_watchvideo == true and section.settings.nx_buybutton == true %}
       <div class="nx-left-col">
         <div class="nx-btn-wrap">
           <form class="nx-product-form" action="/cart/add" data-productid="{{ section.settings.nx_product-handle.id }}" method="post"> 
  				<input type="hidden" name="id" data-productid="PRODUCT_ID" class="nx-product-select" value="{{ section.settings.product-handle.variants[0].id }}">
              	<input type="hidden" name="return_to" value="/checkout/" />
		  		<input type="submit" value="BUY NOW {{ section.settings.nx_product-handle.variants[0].price | money }}" class="nx-btn-buy-white" style="color:{{ section.settings.nx_btnfontcolor }}; background: {{ section.settings.nx_btnbgcolor }}; border-color: {{ section.settings.nx_btnbordercolor }}">
		   </form>
         </div>
       </div>
       <div class="nx-right-col" style="display:block">
         <div class="nx-btn-wrap">
		     <a href="{{ section.settings.nx_linkvideo }}" class="nx-btn-watch" style="color:{{ section.settings.nx_btnwatchfontcolor }}; background: {{ section.settings.nx_btnwatchbgcolor }}; border-color: {{ section.settings.nx_btnwatchbordercolor }}"> WATCH VIDEO </a>
         </div>  
       </div>
      {% endif %}
      {% if section.settings.nx_watchvideo == false and section.settings.nx_buybutton == true %} 
      	<div class="nx-btn-wrap">
           <form class="nx-product-form" action="/cart/add" data-productid="{{ section.settings.nx_product-handle.id }}" method="post"> 
  				<input type="hidden" name="id" data-productid="PRODUCT_ID" class="nx-product-select" value="{{ section.settings.product-handle.variants[0].id }}">
              	<input type="hidden" name="return_to" value="/checkout/" />
		  		<input type="submit" value="BUY NOW {{ section.settings.nx_product-handle.variants[0].price | money }}" class="nx-btn-buy-white" style="color:{{ section.settings.nx_btnfontcolor }}; background: {{ section.settings.nx_btnbgcolor }}; border-color: {{ section.settings.nx_btnbordercolor }}">
		   </form>
         </div>
       {% endif %}
       {% if section.settings.nx_watchvideo == true and section.settings.nx_buybutton == false %} 
      	<div class="btn-wrap">
           <a href="{{ section.settings.nx_linkvideo }}" class="nx-btn-watch" style="color:{{ section.settings.nx_btnwatchfontcolor }}; background: {{ section.settings.btnwatchbgcolor }}; border-color: {{ section.settings.btnwatchbordercolor }}"> WATCH VIDEO </a>
         </div>
       {% endif %}     
  
  
  <!--<div class="left-col">
         <div class="btn-wrap">
           <form class="product-form" action="/cart/add" data-productid="{{ section.settings.nx_product-handle.id }}" method="post"> 
  				<input type="hidden" name="id" data-productid="PRODUCT_ID" class="nx-product-select" value="{{ section.settings.nx_product-handle.variants[0].id }}">
              	<input type="hidden" name="return_to" value="/checkout/" />
		  		<input type="submit" value="BUY NOW {{ section.settings.nx_product-handle.variants[0].price | money }}" class="nx-btn-buy-white" style="color:{{ section.settings.nx_btnfontcolor }}; background: {{ section.settings.nx_btnbgcolor }}; border-color: {{ section.settings.nx_btnbordercolor }}">
		   </form>
         </div>
       </div>
       <div class="nx-right-col">
         <div class="nx-btn-wrap">
		     <a href="#video" class="nx-btn-watch" style="color:{{ section.settings.nx_btnwatchfontcolor }}; background: {{ section.settings.nx_btnwatchbgcolor }}; border-color: {{ section.settings.nx_btnwatchbordercolor }}"> WATCH VIDEO </a>
         </div>  
       </div>-->
     </div>

{% schema %}
  {
    "name": "Main Section",
    "settings": [
	{
      "type": "image_picker",
      "id": "nx_wrap_leftimage",
      "label": "Left image"
    },
	{
      "type": "image_picker",
      "id": "nx_wrap_rightimage",
      "label": "Right image"
    },
	{
      "type": "text",
      "id": "nx_wrap_headertext",
      "label": "Header"
    },
	 {
      "type": "range",
      "id": "nx_wrap_headersize",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Header Font Size",
      "default": 42
    },
	{
      "type": "color",
      "id": "nx_wrap_headercolor",
      "label": "Header color"
    },
	{
      "type": "richtext",
      "id": "nx_wrap_description",
      "label": "Description"
    },
	{
      "type": "color",
      "id": "nx_wrap_descriptioncolor",
      "label": "Description color"
    },

	{
      "type": "range",
      "id": "nx_wrap_descriptionsize",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Description Font Size",
      "default": 25
    },

	{
      "type": "product",
      "id": "nx_product-handle",
      "label": "Product"
    },
	{
      "type": "text",
      "id": "nx_linkvideo",
      "label": "Link for Watch video button",
	  "default": "#"
    },
	{
      "type": "checkbox",
      "id": "nx_watchvideo",
      "default": true,
      "label": "Show Button Watch Video"
    },
	{
      "type": "checkbox",
      "id": "nx_buybutton",
      "default": true,
      "label": "Show Buy Button "
    },
	{
      "type": "color",
      "id": "nx_btnfontcolor",
      "label": "Button Font Color"
    },
    {
      "type": "color",
      "id": "nx_btnbordercolor",
      "label": "Button Border Color"
    },
    {
      "type": "color",
      "id": "nx_btnbgcolor",
      "label": "Button Background Color"
    },
	{
      "type": "color",
      "id": "nx_btnwatchfontcolor",
      "label": "Button watch Font Color"
    },
    {
      "type": "color",
      "id": "nx_btnwatchbordercolor",
      "label": "Button watch Border Color"
    },
    {
      "type": "color",
      "id": "nx_btnwatchbgcolor",
      "label": "Button Background Color"
    },
	{
      "type": "color",
      "id": "nx_mobilebgcolor",
      "label": "Mobile Background Color"
    }

],
"presets": [
    {
      "name": "Main Section"
    }
  ]


  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
